ion-content {
  --background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 204, 0), rgb(234, 87, 8));
}

ion-card {
  background-color: rgba(245, 246, 247, 0.9);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 600px; /* Limita el ancho máximo del card */
}

ion-card-header {
  background-color: rgba(234, 179, 8, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0; /* Agrega espacio interno para el header */
  margin-bottom:20px; /* Para agregar margen a los titulos como detalles del auto, info personal, lista de usuarios*/
}

ion-card-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  color: #000; 
}

ion-input, ion-select, ion-radio-group {
  margin-bottom: 20px; /* Espacio entre campos */
}

ion-label {
  margin-bottom: 10px; /* Espacio debajo de las etiquetas */
}

ion-button {
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 12px;
  margin-top: 20px;
  color: #fff; 
  border: none; /* Elimina el borde predeterminado */
  border-radius: 5px; /* Agrega bordes redondeados */
}

ion-radio-group {
  display: flex;
  flex-direction: column;
}

ion-item {
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgba(245, 246, 247, 0.8);
  padding: 10px;
}

ion-radio {
  --color-checked: rgb(236, 72, 153);
  --color-checked-disabled: rgb(236, 72, 153);
}