<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Administracion</ion-title>
    <ion-buttons slot="start">
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Información Personal</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <br>
            <form [formGroup]="persona" (ngSubmit)="registrar()">
              <ion-input formControlName="nombre" type="text" labelPlacement="stacked" label="Nombre" fill="outline"></ion-input>
              <ion-input formControlName="apellido" type="text" labelPlacement="stacked" label="Apellido" fill="outline"></ion-input>

              <ion-input formControlName="rut" placeholder="Sin punto con guion" type="text" labelPlacement="stacked" label="RUT" fill="outline"></ion-input>
              <ion-label position="stacked">Fecha de Nacimiento</ion-label><ion-input formControlName="fecha_nacimiento" type="date"  fill="outline"></ion-input>
                <ion-note slot="end" color="danger" *ngIf="persona.controls.fecha_nacimiento.errors?.['invalidAge']">
                  Debes ser mayor de 18 años.
                </ion-note>
              <ion-input formControlName="correo" placeholder="@duocuc.cl" type="email" label="Correo" labelPlacement="stacked" fill="outline"></ion-input>
              <ion-input formControlName="password" placeholder="Mayor a 4 digitos" type="password" label="Password" labelPlacement="stacked" fill="outline"></ion-input>
              
              <ion-select formControlName="genero" label="Genero" labelPlacement="stacked" fill="outline">
                <ion-select-option value="masculino">Masculino</ion-select-option>
                <ion-select-option value="femenino">Femenino</ion-select-option>
                <ion-select-option value="otro">Otro</ion-select-option>
              </ion-select>
              
              <ion-select formControlName="sede" label="Sede Duoc" labelPlacement="stacked" fill="outline">
                <ion-select-option value="alameda">Alameda</ion-select-option>
                <ion-select-option value="antonio_varas">Antonio Varas</ion-select-option>
                <ion-select-option value="arauco">Arauco</ion-select-option>
                <ion-select-option value="concepcion">Concepción</ion-select-option>
                <ion-select-option value="maipu">Maipú</ion-select-option>
                <ion-select-option value="melipilla">Melipilla</ion-select-option>
                <ion-select-option value="padre_alonso">Padre Alonso de Ovalle</ion-select-option>
                <ion-select-option value="plaza_oeste">Plaza Oeste</ion-select-option>
                <ion-select-option value="plaza_vespucio">Plaza Vespucio</ion-select-option>
                <ion-select-option value="plaza_norte">Plaza Norte</ion-select-option>
                <ion-select-option value="puente_alto">Puente Alto</ion-select-option>
                <ion-select-option value="san_bernardo">San Bernardo</ion-select-option>
                <ion-select-option value="san_carlos">San Carlos de Apoquindo</ion-select-option>
                <ion-select-option value="san_joaquin">San Joaquín</ion-select-option>
                <ion-select-option value="valparaiso">Valparaíso</ion-select-option>
                <ion-select-option value="vina_del_mar">Viña del Mar</ion-select-option>
                <ion-select-option value="villarica">Villarica</ion-select-option>
                <ion-select-option value="puerto_montt">Puerto Montt</ion-select-option>
              </ion-select>
              
              <ion-label>¿Tiene Auto?</ion-label>
              
              <ion-radio-group formControlName="tiene_auto">
                <ion-item>
                  <ion-radio slot="start" value="Si"></ion-radio>
                  <ion-label>Sí</ion-label>
                </ion-item>
                <ion-item>
                  <ion-radio slot="start" value="No"></ion-radio>
                  <ion-label>No</ion-label>
                </ion-item>
              </ion-radio-group>
              <br>
              <ion-label>Tipo de usuario</ion-label>
              <ion-radio-group formControlName="tipouser">
                <ion-item>
                  <ion-radio slot="start" value="administrador"></ion-radio>
                  <ion-label>Administrador</ion-label>
                </ion-item>
                <ion-item>
                  <ion-radio slot="start" value="usuario"></ion-radio>
                  <ion-label>Usuario</ion-label>
                </ion-item>
              </ion-radio-group>
              
              <ion-button [disabled]="persona.invalid" type="submit" size="block" color="warning">REGISTRAR</ion-button>
              
              <ion-button type="reset" size="block" color="primary">Limpiar</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="6" *ngIf="persona.controls.tiene_auto.value === 'si'">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Detalles del Auto</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form [formGroup]="persona" (ngSubmit)="registrar()">
              <ion-input formControlName="marca_auto" type="text" label="Marca Auto" labelPlacement="stacked" fill="outline"></ion-input>
              <ion-text *ngIf="persona.controls.marca_auto.errors?.['marcaNoExiste']">
                <p>La marca ingresada no existe en el sistema :C.</p>
              </ion-text>
              
              <ion-input formControlName="patente" type="text" label="Patente" labelPlacement="stacked" fill="outline"></ion-input>
              <ion-text color="danger" *ngIf="persona.controls.patente.errors?.['pattern']">
                <p>La patente debe ser válida (formato: AB1234 o ABCD12).</p>
              </ion-text>
              <ion-input formControlName="asientos_disp" type="number" label="Asientos Disp." labelPlacement="stacked" fill="outline"></ion-input>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Lista de Usuarios</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item-sliding *ngFor="let usuario of usuarios">
                <ion-item>
                 Rut: {{ usuario.rut }} | Nombre: {{ usuario.nombre }} {{usuario.apellido }} | Auto: {{ usuario.tiene_auto }}
                </ion-item>
                <ion-item-options side="end">
                  <ion-item-option (click)="buscar(usuario)">
                    <ion-icon name="search"></ion-icon>
                    Buscar
                  </ion-item-option>
                  <ion-item-option (click)="eliminar(usuario.rut)">
                    <ion-icon name="trash"></ion-icon>
                    Eliminar
                  </ion-item-option>
                </ion-item-options>
              </ion-item-sliding>
              <ion-button [disabled]="persona.invalid" (click)="modificar()" type="submit" size="block" color="warning">Modificar</ion-button>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-content>