ion-grid{
  display: grid;
    background-color: rgb(124, 2, 2);
    height: 100%;
  }
  
  
  ion-row{
    
    padding: 2px;
    margin: 2px;
   height: 100%;
  }
ion-card{
  padding: 2px;
    margin: 2px;
}