<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    
    <ion-row>

      <ion-col size="1"></ion-col>
      <!-- ----------------------------------------------- -->
      <ion-col size="10">
        <ion-card>
        <form [formGroup]="persona" (ngSubmit)="registrar()">
          <p>{{persona.value | json}}</p>
          <ion-input type="text" labelPlacement="floating" label="RUT" formControlName="rut"></ion-input>
          <br>  
          <ion-input type="text" labelPlacement="floating" label="Nombre" formControlName="nombre"></ion-input>
          <br>
          <ion-input id="correo" formControlName="correo" name="email" type="gmail" labelPlacement="floating" label="correo"></ion-input>
          <br>
          <ion-input id="password" formControlName="password" type="password" label="CONTRASEÑA" labelPlacement="floating"></ion-input>
          <br>
          <ion-input id="confirmpassword" formControlName="confirmpassword" type="password" label="CONFIRME CONTRASEÑA" labelPlacement="floating"></ion-input>
          <br>
          <ion-input formControlName="fecha" type="date" labelPlacement="floating" label="Fecha nacimiento"></ion-input>
          <br>
          <ion-select formControlName="genero" label="Género" labelPlacement="floating" cancelText="NO NO!">
            <ion-select-option value="Masculino">Masculino</ion-select-option>
            <ion-select-option value="Femenino">Femenino</ion-select-option>
            <ion-select-option value="Otro">Otro</ion-select-option>
          </ion-select>
          <br>
          <ion-label>TIENE AUTITO?</ion-label>
          <ion-select formControlName="tiene_Auto" (ionChange)="onOpcionChange($event.detail.value)">
            <ion-select-option value="SI">Sí</ion-select-option>
            <ion-select-option value="NO">No</ion-select-option>
          </ion-select>
          <div *ngIf="mostrarInput">
            <ion-input formControlName="marca" label="MARCA VEICULO" type="text" labelPlacement="floating"></ion-input>
            <br>
            <ion-input formControlName="patente" label="PATENTE VEICULO" type="text" labelPlacement="floating"></ion-input>
          </div>
          <ion-button color="primary" expand="block" fill="outline">registrar</ion-button>
        </form>
      </ion-card>
      </ion-col>
      <ion-col size="1"></ion-col>

    </ion-row>
    <ion-row></ion-row>


  </ion-grid>
<ion-footer></ion-footer>

</ion-content>
